@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


@font-face {
    font-family: 'fantaisie';
    src: url('../font/Meatloaf.ttf');
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  padding: 15px 0;
}

.Derniersreleves{
  margin: 100px;

}

section{
	margin: 50px;
}

footer{
	color: #FFF;
	font-size: 14px;
display: flex;
justify-content: center;

}

.navbar-inverse, .dropdown, .dropdown-menu, .dropdown-toggle {
    background-image: linear-gradient(to bottom,#cf1a1a 0,#D5F0D1 100%);
    border-color: #FFF;
  }

.navbar-brand{
    font-size: 14px;
    padding: 10px 15px;
  }

.Formstyle{
	float: right;
	margin: 12px;
}

#boutonmenu{
	background-image: url("../lib/panthere.png");
    background-size: 65px 20px;

}


.sauts{
    padding: 40px;
}

.interieur{
    padding: 35px;
}

.données{
    font-family: fantaisie;
    font-size: 80px;
}

.date{
    font-size: 20px;
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #2c5fb2;
}


#General,#dygraph{
    margin: 50px;
}

#General h1{
    margin: 20px;
}

.fin{
    margin-bottom: 100px;
}

hr{
    margin-top: 50px;
    border-top: 2px solid #c25555;
}