@font-face {
    font-family: 'fantaisie';
    src: url('../font/Meatloaf.ttf');
}

.Derniersreleves{
  margin: 100px;

}

section {
    margin: 70px;
}

.Formstyle{
	float: right;
	margin: 12px;
}


.sauts{
    padding: 40px;
}

.interieur{
    padding: 35px;
}

.données{
    font-family: fantaisie;
    font-size: 80px;
}

.date{
    font-size: 20px;
}



#General,#dygraph{
    margin: 50px;
}

#General h1{
    margin: 20px;
}

.fin{
    margin-bottom: 100px;
}

hr{
    margin-top: 50px;
    color: #0055B2;
}

label{
    color: white;
}